/* Estilos generales */
* {
    margin: 0;
    padding: 0;
}

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 65%;
    color: #bfbfbf;
}

body {
    font-size: 1.6rem;
    text-decoration: none;
}

/* Barra de navegación */
header {
    background-color: rgb(207 206 206 / 43%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav a{
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 20px;
}

nav a.activo {
    color: rgba(58, 156, 163, 0.852);
}

a{
    margin: 0px;
}

p{
    padding: 0rem;
    color: #151515;
}

.sect-color {
    background-color: rgb(207 206 206 / 63%);
    padding: 20px;
}

/* Estilos principales */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9cc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #1188aa; 
    text-align: center;
    margin-bottom: 20px;
}

.resource .style-li{
    margin: 10px;
    padding: 2px; 
    border: none;
    color: black;
}

.resource ul {
    list-style-type: none;
}

.resource li {
    margin: 10px;
    padding: 15px;
    border-radius: 30px;
    border: 3px solid rgba(130, 190, 194, 0.59);
}

.resource li h4 {
    color: #4a4a4a;
    margin-bottom: 10px;
}

.resource-img {
    align-items: center;
}

.resource li p {
    margin-bottom: 10px;
}

.resource li a {
    color: #1188aa;
    text-decoration: none;
    font-weight: bold;
}

.resource li a:hover {
    text-decoration: underline;
}

footer{
    background-color: rgb(207 206 206 / 43%);
    text-align: center;
    padding: 1rem;
    color: #222222;
}
.footer-class{
    padding: 0rem;
}
