/* Estilos generales */
* {
    margin: 0;
    padding: 0;
}

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 65%;
    color: #bfbfbf;
}

body {
    font-size: 1.6rem;
    text-decoration: none;
}

/* Barra de navegación */
header {
    background-color: rgb(207 206 206 / 43%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav a{
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 20px;
}

nav a.activo {
    color: rgba(58, 156, 163, 0.852);
}

a{
    margin: 0px;
}

p{
    padding: 0rem;
    color: #151515;
}

/* Contenedor principal */
.main-container {
    background-color: rgb(207 206 206 / 63%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

h2 {
    color: #1188aa; 
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

li{
    color: #151515;
}

.section-cont {
    margin: 10px;
    padding: 15px;
    border-radius: 30px;
    border: 3px solid rgba(130, 190, 194, 0.59);
}

.section-num{
    margin: 10px;
    padding: 15px; 
    border-radius: 30px;
    border: 3px solid rgba(130, 190, 194, 0.59);  
}

h4 {
    color: #4a4a4a;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

.a-deco {
    color: #1188aa;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Formulario de contacto */
.contact-form {
    max-width: 1000px;
    margin: auto 200px;
    padding: 20px;
    background-color: #f9f9f9cc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.subscribe-form {
    margin-top: 2rem;
    padding: 2rem;
    border: 2px solid rgba(130, 190, 194, 0.59);
    border-radius: 10px;
    background-color: #f3f3f3;
}

.subscribe-form h2 {
    color: #2d2d2d;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.subscribe-form p {
    margin-bottom: 2rem;
    color: #515151;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #151515;
}

.form-group input,
.form-group select {
    width: 98%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.3rem;
    color: #515151;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #75b5c1;
    outline: none;
}

button[type="submit"] {
    background-color: #75b5c1;
    color: #ffffff;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
}

button[type="submit"]:hover {
    background-color: #4d929e;
}

/*Estilos del footer*/

footer{
    background-color: rgb(207 206 206 / 43%);
    text-align: center;
    padding: 1rem;
    color: #222222;
}
.footer-class{
    padding: 0rem;
}